nav {
    padding: 2px;
    text-align: left;
    position: fixed;
    top: 0;
     width: 100%;
  }
  ul {
    padding: 0;
    margin: 1.1em;
    display: inline-block;
    
  }
  li {
    display: inline-block;
    text-align: center;


  }
 #drop{
   font-size: 2em;
 }
  