a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    font-family: Tahoma;
    font-size: 2em;
  }
  a:hover {
    background-color: rgb(224, 222, 228);
    -webkit-text-fill-color: #51647A;
    padding: 18px 15px;
  }